/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
  margin-bottom: 10px;
}

.header__img {
  width: 100%;
}

.header__info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header { 
    text-align: center;
  }
  
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-item__input,
.task-item__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-list {
  margin: 0;
  padding: 0px;
}

.task-item__input,
.task-item__checkbox,
.button {
  outline: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */
.section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-item__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-item__input:focus {
  color: #333;
}

/* Task list */
.task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.task-item_new {
  border-bottom: 0;
}

.task-item__checkbox,
.task-item__label,
.task-item__input,
.button {
  vertical-align: middle;
}

.task-item__checkbox {
  margin: 0 10px;
}

.task-item__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.button-delete__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button-delete__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.task-list_completed .task-item__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list .task-item__input {
  display: none;
}

.task-item_editable .task-item__input {
  display: inline-block;
}

.task-item_editable .task-item__label {
  display: none;
}